@import url("https://fonts.googleapis.com/css?family=Varela+Round");

/*** Colors ***/
@green: rgb(95, 207, 128);
@semi-accent-green: rgb(92, 299, 119);
@accent-green: rgb(44, 150, 118);

@light-blue: rgb(193, 224, 245);
@blue: rgb(66, 180, 214);
@accent-blue: rgb(63, 138, 191);

@white: rgb(230, 230, 230);
@light-grey: rgb(113, 127, 134);
@grey: rgb(46, 54, 61);

@pale-orange: rgb(239, 121, 125);
@orange: rgb(235, 88, 92);
@yellow: rgb(229, 154, 19);


/*** Font Sizes ***/
@h1: 54px;
@h2: 36px;
@h3: 24px;
@small: 12px;
@p: 16px;


/*** Sizing ***/
@center-width: 85%;

.round-corners {
  border-radius: 5px;
}
h1 {
  font-size: @h1;
} h2 {
  font-size: @h2;
} h3 {
  font-size: @h3;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/*** Generic Styles ***/
* {
  box-sizing: border-box;
}
body {
  background: @white;
  font-family: "Varela Round", sans-serif;
  color: @grey;
  margin: 0;
  padding: 0;
}

a {
  color: @orange;
  text-decoration: none;
  &:hover {
    color: @pale-orange;
    transition: 0.2s ease-in-out;
  }
}

/*** Structural Styles ***/
header, main, footer, div {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}


header.big, header.small {
  background-color: @green;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  position: fixed;
  top: 0px;
  h1 {
    margin: 0;
    padding: 20px 0;
    font-size: @h1;
    line-height: 1;
  } h1.logo a {
    color: @grey;
    span {
      color: @orange;
    }
  }
} header.small {
  margin: 0;
  padding: 5px 0;
  h1 {
    font-size: @h3;
    padding: 0;
    margin: 0;
  }
}

.clear-header {
  display: block;
  margin: 0;
  padding: 0;
  height: 104px;
}

.center-container {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}
.clear-footer {
  clear: both;
  height: 30px;
  margin:0;
  padding:0;
}

footer {
  position: fixed;
  bottom: 0px;
  margin: 0;
  padding: 10px 0;
  background: @grey;
  text-align: center;
  font-style: italic;
  em {
    font-size: @small;
    color: @white;
  }
}

/** Home Page **/
.login-signup {
  display: block;
  margin: 20px 0;
  &:after {.clearfix}
}

.login-buttons {
  width: 100%;
  a {
    display: block;
    float: left;
    .round-corners;
    padding: 10px 0;
    width: 45%;
    color: white;
    text-align: center;
    margin: 0 0 10px 0;
    &:nth-of-type(1) {
      float: right;
    }
  } a.facebook {
    border: 3px solid rgb(59, 89, 152);
    background-color: rgb(59, 89, 152);
    &:hover {
      background-color: transparent;
      color: rgb(59, 89, 152);
    }
  } a.google {
    border: 3px solid rgb(216, 67, 46);
    background-color: rgb(216, 67, 46);
    &:hover {
      background-color: transparent;
      color: rgb(216, 67, 46);
    }
  } &:last-of-type {
    margin-bottom: 20px;
  }
}

.masthead {
  background-color: @orange;
  color: @white;
  h3 {
    padding-top: 10px;
    margin-bottom: 15px;
  }
  blockquote {
    background: @pale-orange;
    font-style: italic;
    margin: 0 0 20px 0;
    padding: 15px 20px;
    text-align: center;
    display: block;
    .round-corners;
  }
  &:after {.clearfix}
}

/** Search Page **/
.search {
  .page-heading {
    &:before {.clearfix;}
    background-color: @accent-blue;
    margin: 10px 0;
    padding: 10px 0;
    h3 {
      color: @white;
      text-align: left;
      line-height: 1;
      font-size: @h3;
      margin: 0;
      padding: 0;
    }
  }
}

.form {
  display: block;
  text-align: left;
  .input {
    margin: 10px 0;
    font-size: @p;
    label {
      display: block;
      padding: 5px 0;
      font-size: 110%;
    }
    padding: 10px 0;
    border-bottom: 2px solid @accent-blue;
  }

  input[type=text] {
    font-size: 110%;
    width: 100%;
    .round-corners;
    border: 3px solid @accent-blue;
    padding: 7.5px 5px;
    background-color: @accent-blue;
    &:hover, &:focus {
      background: transparent;
      color: @grey;
      transition: 0.2s ease-in-out;
    }
  }
  
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    height: @h3;
    background: transparent;
    &:focus {
      outline: none;
    }
  } 
  .range {
    color: @orange;
  }

  .submit {
    text-align: right;
    margin-top: 20px;
    input[type=submit] {
      font-size: @p;
      padding: 10px 15px;
      .round-corners;
      border: 3px solid @orange;
      color: @white;
      background-color: @orange;
      &:hover {
        transition: 0.2s ease-in-out;
        background: transparent;
        color: @grey;
        cursor: pointer;
      }
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 7.5px 5px;
    .round-corners;
    border: 3px solid @accent-blue;
    font-size: @p;
    color: @white;
    background-color: @accent-blue;
    &:hover, &:focus {
      background: transparent;
      color: @grey;
      transition: 0.2s ease-in-out;
    }
  }
  
  .hidden-allow-location {
    margin-top: 20px;
    background-color: @pale-orange;
    color: @white;
    .round-corners;
    padding: 10px;
  }
}


/** Map Page **/

h3#search-results {
  padding: 10px;
  line-height: 1;
  margin: 0;
  text-align: center;
  color: @white;
  background-color: @grey;
}

section#map {
  width: 100%;
  height: 320px;
  margin: 0 auto;
  padding: 0;
} .half-width {
  width: 50% !important;
  float: left;
}

aside.map-sidebar {
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
} aside.bottom {
  width: 100%;
  display: block;
} aside.right {
  display: inline;
  float: left;
  width: 50%;
}

table.search-results {
  width: 100%;
  border-spacing: 0;
  .result {
    margin: 10px 5px;
    height: 45px; 
    background-color: @accent-blue;
    opacity: 0.7;
    .pad {
      width: 3%;
    } .info {
      width: 57%;
    } .button {
      width: 40%;
      a {
        display: block;
        height: 100%;
        width: 100%;
      }
      text-align: center;
      background-color: @light-blue;
    }
    &:hover {
      opacity: 0.8;
      transition: 0.2s ease-in-out;
    } &:focus {
      opacity: 0.9;
    }
  } .result#this {
    background-color: @green;
    color: @grey;
    opacity: 1;
    &:hover {
      opacity:1;
    }
    .button {
      background-color: @green;
      color: @orange;
      a {
        color: inherit;
      }
      &:hover, &:focus {
        opacity: 0.9;
        background-color: @orange;
        color: @white;
      }
    }
  }
}

.details, .broadcast-status {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: @pale-orange;
  .round-corners;
  color: @grey;
  p {
    margin:0;
    em {
      color: @white;
      padding-right: 30px;
    }
    &:nth-of-type(0) {
      margin-top: 15px;
    }
  }
  table {
    width: 100%;
    td {
      width: 33.3%;
      padding-right: 2px;
      color: @white;
      text-align: left;
    } td.info {
      width: 66.6%;
      text-align: left;
      color: @grey;
    }
  }
} .details {
  background-color: @pale-orange;
  color: @grey;
  h4 {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
  }
} .broadcast-status {
  background-color: @light-blue;
  table {
    td {
      color: @accent-blue;
    }
  }
}

.delete-edit {
  width: 90%;
  display: block;
  margin: 10px auto;
  text-align: center;
  a {
    display: block;
    padding: 10px 15px;
    float: left;
    width: 45%;
    border: 3px solid @grey;
    .round-corners;
    &:hover {
      transition: 0.2s ease-in-out;
    }
  } a.delete {
    float: right;
    background-color: @grey;
    color: @orange;
    &:hover {
      background-color: transparent;
    }
  } a.edit {
    background-color: @accent-blue;
    color: @white;
    border-color: @accent-blue;
    &:hover {
      color: @grey;
      background-color: transparent;
    }
  }
}



/*** Media Queries (for specific styles) ***/
// generic mobile devices (portrait)
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .login-buttons {
    a {
      width:100%;
    }
  }
}

// generic mobile devices (landscape)
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .center-container {
    width: 75%;
    transition: 0.2s ease-in-out;
  }
}

// generic tablet (and notebook) devices 
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .center-container {
    width: 85%;
    transition: 0.2s ease-in-out;
  }

  form {
    .input, .submit {
      width: 50%;
      display: block;
      float: left;
      select, input[type=text] {
        width: 90%;
      }
      border-bottom: none !important;
    }
  }
}

@media only screen and (min-device-width: 1024px) {
  .center-container {
    width: 65%;
  }
  .details, .broadcast-status {
    table {
      td {
        width: 20%;
      }
    }
  }
}