<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Search | JustPlay</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header class="big">
      <div class="center-container">
        <h1 class="logo">
          <a href="#">
            Just<span>Play</span>
          </a>
        </h1>
      </div><!-- end .center-container -->
    </header>
    <main class="search">
      <div class="center-container">
        <div class="page-heading">
          <h1>Search for a Match Near You</h1>
        </div>
        <div class="form">
          <form action="" method="GET">
            <div class="text-inputs">
              <div class="input">
                <label for="name">Sport: </label>
                <select name="sport" id="sport">
                  <option value="tennis">Tennis</option>
                  <option value="badminton">Badminton</option>
                </select>
              </div><!-- end .input -->
              <div class="input">
                <label for="radius">Distance You're Prepared to Travel:</label>
                <input type="range" name="radius" min="1" max="5" />
              </div><!-- end .input -->
              <div class="submit">
                <input type="submit" value="Search" />
              </div><!-- end .submit -->
            </div><!-- end .text-inputs -->
          </form>
        </div><!-- end .form -->
      </div><!-- end .center-container -->
    </main>
    <footer>
      <div class="center-container">
        <em>Copyright &copy; 2017 &mdash; Group M3</em>
      </div><!-- end .center-container -->
    </footer>
  </body>
</html>