<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>View Broadcast | JustPlay</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header class="small">
      <h1 class="logo">
        <a href="#">J<span>P</span></a>
      </h1>
    </header>
    <main class="broadcast">
      <section id="map"><!-- google map goes inside here --></section>
      <aside class="map-sidebar">
        <h2>Your Current Broadcast Request</h2>
        
      </aside>
      <div class="broadcast-button">
        <a href="#">Can't find a match that suits you? Click to put out your own Broadcast request</a>
      </div>
    </main>
    <footer>
      <div class="center-container">
        <em>Copyright &copy; 2017 &mdash; Group M3</em>
      </div><!-- end .center-container -->
    </footer>
  </body>
</html>